@import 'variables';

.page-title {
  color: $White;
  font-size: 56px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin-top: 72px;
  position: relative;
}

.center-text {
  text-align: center;
}
