@import 'variables';

.MuiInputLabel-root {
  color: $White;
  font-size: 14px;
  line-height: 155%;
  font-family: 'Montserrat', sans-serif;

  &.Mui-focused {
    color: $White;
  }
}

.MuiInput-root {
  color: $White;
  opacity: 0.7;
  line-height: 155%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;

  &::before {
    border-bottom: 1px solid $White;
  }

  &::after {
    border-bottom: 2px solid $White;
  }

  &:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom: 1px $White solid;
  }
}

.account-message {
  color: $BRG;
  font-size: 12px;
  text-align: center;
  margin-top: 24px;
  a {
    color: $Blue;
  }
}

.form-container {
  max-width: 350px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-description {
    font-weight: 600;
    line-height: 155%;
    max-width: 466px;
    color: $White;
    text-align: center;
  }
}

.horisontal-gap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.image {
  display: block;
  margin: 70px auto 0 auto;
  max-width: 341px;
  width: 100%;
}

.decor {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 237px;
  height: 188px;
  top: -115px;
  right: -115px;
}

.relative {
  position: relative;
}

.error {
  position: absolute;
  top: 45px;
  left: 0;
  font-size: 12px;
  color: red;
  margin-top: 0.25rem;
}
