@import 'variables';

.header-logo {
  margin-top: 48px;
  .header-title {
    color: $White;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
  }
  .header-subtitle {
    color: $Greener;
    font-weight: 600;
    line-height: 155%;
  }
}
