@import 'variables';

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: $Black;
}

.container {
  padding: 0 48px;
}

.main {
  margin-bottom: 48px;
}

@media (min-width: 450px) {
  main .container {
    max-width: 350px;
    padding: 0;
  }
}
